cf-chat-response.show thumb {
	background-image: url('https://pbs.twimg.com/profile_images/523057560358617088/WWOOMB5q.jpeg') !important;
}

cf-chat-response:nth-of-type(2n+2).peak-thumb thumb {
	background-image: url('https://api.monosnap.com/rpc/file/download?id=sJ13NVmuPWHINMXpFooARJXfIkCq2J') !important;
    }

input.marketing-input {
	opacity: 0;
}

.cf-context {
	height: 400px;
}